.inner {
	background:#dcdcdc;
	border: .5px solid black;
	height: 120px;
	border-radius: 3px;
}

.header {
	width:98%;
	margin:1%
}

.section {
	width: 48%;
	margin:1%;
}

.section.columnone {
	float:left;
}

.section.columntwo {
	float:right;
}

.div {
	width: 32%;
	margin: .6%;
	clear:both;
}

.div.columnone {
	display: inline-block;
	clear: none;
}

.div.columntwo {
	display: inline-block;
	clear: none;
	margin-left: 0;
	margin-right:0;
}

.div.columnthree {
	display: inline-block;
	clear:none;
}

.footer {
	width: 98%;
	margin: 1%;
	clear: both;
}
