body {
	background-color: #dcdcdc;
}
code {
	border: 1px solid black;
	padding: 1px;
	background-color: #dcdcdc;
	margin: 1px;
	border-radius: 3px;
	padding-left:2px;
	padding-right: 2px;
}

#id {
	border:1px solid black;
	background-color: #808080;
	padding: 5px;
	border-radius: 1px;
}

.class {
	border: 1px solid black;
	background-color: #c0c0c0;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 1px;
}

.errormsg {
	background-color: red;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 1px;
	line-height:1.5;
}

