* {
	box-sizing: border-box;
}

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

.logo {
  color: #fff;
  float: left;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  margin-left: 5px;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}

header nav {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

header nav ul {
	margin: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

label {
  display: inherit;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  width: 95%;
    border-radius: 4px;
    border: .5px solid gray;
    padding: 8px;
    padding-left: 35px;
}

textarea {
  width: 95%;
  border-radius: 4px;
  padding: 0 50px 50px 35px;

}

.name {
  background: url('img/cd-icon-user.svg') no-repeat 5px center, url('img/cd-required.svg') no-repeat right 0px;
  

}

.company {
  background: url("img/cd-icon-company.svg") no-repeat 5px center, url('img/cd-required.svg') no-repeat right 0px;

}

.email {
  background: url('img/cd-icon-email.svg') no-repeat 5px center, url('img/cd-required.svg') no-repeat right 0px;
}

.description {
  background: url('img/cd-icon-message.svg') no-repeat 5px 8px, url('img/cd-required.svg') no-repeat right 0px;

}

.send_message {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  background-color: #033048;
  color: #ffffff;
}

.mobile_nav {
  color: #f9e42e;
  display: none;
}


@media screen and (max-width: 968px){
  nav {
    display: none;
  }

  header nav ul li {
    display: block;
    margin-right: 150px;
  }

  .mobile_nav{
    display: unset;
    float: right;
    margin-right: 150px;
    cursor:pointer;
  }


}

/* -------------------------------- 

Form

-------------------------------- */

